legend {
    text-align: center;
}

.form-footer-link {
    display: block;
    margin-top: 32px;
    text-align: center;
}

#footer {
    text-align: center;
    margin-top: 74px;
}

.button-spacer-top {
    height: 24px;
}

#product-image {
    max-width: 322px;
    max-height: 352px;
    min-height: 352px;
}

.product-thumbnail-img {
    display: block;
    max-height: 200px;
    min-height: 200px;
    width: 215px;
    margin-left: auto;
    margin-right: auto;
}

.product-thumbnail-price {
    text-align: center;
    font-size: large;
    display: block;
    margin: auto auto -18px auto;
}

.cart-thumbnail {
    max-width:42px;
    max-height: 42px;
    min-height: 42px;
}

table {
    text-decoration: none; !important;
}

a {
    text-decoration: none; !important;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.quantity-input {
    width: 70px;
    margin-right: 0;
    padding-right: 0;
}

.stock-count {
    text-align: center;
}

.buy-form {
    margin-top: 32px;
}

.text-red {
    color: red;
}

.margin-top-1 {
    margin-top: 32px;
}

.margin-top-2 {
    margin-top: 64px;
}

.margin-top-3 {
    margin-top: 128px;
}

.btn-transparent {
    background-color: #00000000;
    border: none;
}